
* {
  	margin: 0;
	padding: 0;
	border: 0;
	font: sans-serif!important; 
	vertical-align: baseline;
	/* background-color: #0f0f0f; */
}

.fullwidth {
	width: 100%;
}

html {
	scroll-behavior: smooth;
}

